nav ul a {
    color: #000000 !important;
}

.logo-position {
    padding-left: 15px;
}

.parallax-containerx {
    margin-bottom: 2.5rem;
    border-bottom: 2px solid #000;
    background: #333;
    position: relative;
    overflow: hidden;
    z-index: 0;
}

.parallax-containerx .bg {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
}

.grid .pad {
    padding: 20px; 
    z-index: -1;
}
.grid {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}


.patreon > li {
    display: inline-block;  
    zoom:1;
    *display:inline; 
}

.patreon li {
    padding-left: 20px;
}
 

.border{    
    margin: .5rem 0 1rem 0;
    border: 1px solid #e0e0e0;
    border-radius: 2px;
    overflow-y: scroll;
    position: relative;
}

/* Contenido */
.title-service{
    border-bottom: 1px  solid #333;
    margin-bottom: 20px;
    margin-top: 20px;
}

.des-service{
    padding-left: 3rem;
    padding-bottom: 2rem;
}


/* FOOTER */

.footer .share {
    float: left;
    position: relative;
    z-index: 1;
    margin-top: 10px;
}
.share {
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0;
}